/**font family**/

@font-face {
	font-family: "Cervo-LightItalic";
	src: url("../fonts/Cervo-LightItalic.eot");
	src: url("../fonts/Cervo-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Cervo-LightItalic.woff2") format("woff2"), url("../fonts/Cervo-LightItalic.woff") format("woff"), url("../fonts/Cervo-LightItalic.ttf") format("truetype"), url("../fonts/Cervo-LightItalic.svg#Montserrat") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Cervo-Medium";
	src: url("../fonts/Cervo-Medium.eot");
	src: url("../fonts/Cervo-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Cervo-Medium.woff2") format("woff2"), url("../fonts/Cervo-Medium.woff") format("woff"), url("../fonts/Cervo-Medium.ttf") format("truetype"), url("../fonts/Cervo-Medium.svg#Montserrat") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Cervo-MediumItalic";
	src: url("../fonts/Cervo-MediumItalic.eot");
	src: url("../fonts/Cervo-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Cervo-MediumItalic.woff2") format("woff2"), url("../fonts/Cervo-MediumItalic.woff") format("woff"), url("../fonts/Cervo-MediumItalic.ttf") format("truetype"), url("../fonts/Cervo-MediumItalic.svg#Montserrat") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Cervo-Thin";
	src: url("../fonts/Cervo-Thin.eot");
	src: url("../fonts/Cervo-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Cervo-Thin.woff2") format("woff2"), url("../fonts/Cervo-Thin.woff") format("woff"), url("../fonts/Cervo-Thin.ttf") format("truetype"), url("../fonts/Cervo-Thin.svg#Montserrat") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Cervo-ThinItalic";
	src: url("../fonts/Cervo-ThinItalic.eot");
	src: url("../fonts/Cervo-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Cervo-ThinItalic.woff2") format("woff2"), url("../fonts/Cervo-ThinItalic.woff") format("woff"), url("../fonts/Cervo-ThinItalic.ttf") format("truetype"), url("../fonts/Cervo-ThinItalic.svg#Montserrat") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat-Bold";
	src: url("../fonts/Montserrat-Bold.eot");
	src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat-Light";
	src: url("../fonts/Montserrat-Light.eot");
	src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg#Montserrat") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat-Regular";
	src: url("../fonts/Montserrat-Regular.eot");
	src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat") format("svg");
	font-weight: normal;
	font-style: normal;
}
.Montserrat-Regular, .Montserrat-Regular p {
	font-family: "Montserrat-Regular";
}
.Montserrat-Light, .Montserrat-Light p {
	font-family: "Montserrat-Light";
}
.Montserrat-Bold, .Montserrat-Bold p {
	font-family: "Montserrat-Bold";
}
.Cervo-ThinItalic, .Cervo-ThinItalic p {
	font-family: "Cervo-ThinItalic";
}
.Cervo-Thin, .Cervo-Thin p {
	font-family: "Cervo-Thin";
}
.Cervo-MediumItalic, .Cervo-MediumItalic p {
	font-family: "Cervo-MediumItalic";
}
.Cervo-Medium, .Cervo-Medium p {
	font-family: "Cervo-Medium";
}
.Cervo-LightItalic, .Cervo-LightItalic p {
	font-family: "EpocaClassic-LightItalic";
}
/**input field styling**/

::-webkit-input-placeholder {
	color: #929292;
}
::-moz-placeholder {
	color: #929292;
}
:-ms-input-placeholder {
	color: #929292;
}
:-moz-placeholder {
	color: #929292;
}
[type=color]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=datetime]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, textarea:focus {
	outline: 0;
	border: 1px solid #62EB92;
	background-color: #fefefe;
	box-shadow: 0 0 5px #62EB92;
}
/**COMMON CSS LINES**/

html,body {
background-color: #000000;
	font-family: "Montserrat-Light";
}
a {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
a {
	text-decoration: none;
	outline: none;
	color: black;
}
a:focus {
	text-decoration: none;
	outline: none;
	color: #62EB92;
}
a:hover {
	text-decoration: none;
	outline: none;
	color: #62EB92;
}
button, .button {
	outline: 0;
	clear: both;
	display: block;

}
.round{
	background: none;
	border: solid #fff 1px;
	border-radius: 3px;
	font-family: "Montserrat-Regular";
	color: #6BCE86;
}
.hide {
	display: none
}
.block {
	display: block
}
.center {
	margin: auto;
	text-align: center !important
}
article.slide p {
	color: #005ca3
}
.clear {
	clear: both;
}
.shadow {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.inline ul li {
	display: inline;
}
.left {
	float: left;
}
.right {
	float: right;
}
.textright {
	text-align: right;
}
.textleft {
	text-align: left;
}
.textcenter {
	text-align: center;
}
.lowercase {
	text-transform: lowercase;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
.overflow_hide {
	overflow: hidden;
}
.full_width {
	width: 100% !important;
	max-width: 100% !important;
}
.coming_soon h1 {
	font-size: 70px !important;
}
.full_width {
	width: 100%;
	margin: 0px !important;
	padding: 0px !important;
	max-width: 100%;
}
.inline li {
	display: inline;
}
.inline-block li {
	display: inline-block;
}
.block li {
	display: block;
	width: 100%;
}
.border-top {
	border-top: solid 1px #C2C2C2;
}
.border-left {
	border-left: solid 1px #C2C2C2;
}
.border-radius {
	border-radius: 10px;
}
.border_rounded {
	border: solid 1px #C2C2C2;
}
.border_none {
	border: none;
}
p, ul li {
	color: #fff;
	font-size: 15px;
	font-family: "Montserrat-Light";
}
strong {
	color: #fff;
	font-size: 18px;
	font-family: "Montserrat-Light";
	font-weight: normal;
}
.row{
	max-width: 82.5rem;
}
.center {
	margin-left: auto;
	margin-right: auto;
	float: none !important;

}

/**MARGIN**/

.margin-0 {
	margin: 0px !important;
}
.margin-left-5 {
	margin-left: 5px;
}
.margin-left-10 {
	margin-left: 10px;
}
.margin-right-5 {
	margin-right: 5px;
}
.margin-right-10 {
	margin-right: 10px;
}
.margin-right-20 {
	margin-right: 20px;
}
.margin-top-5 {
	margin-top: 5px;
}
.margin-bottom-5 {
	margin-bottom: 5px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-20 {
	margin-bottom: 20px !important;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-top-10 {
	margin-top: 10px;
}
/**PADDING**/

.padding-0 {
	padding: 0px;
}
.padding-5 {
	padding: 5px;
}
.padding-10 {
	padding: 10px;
}
.padding-15 {
	padding: 15px;
}
.padding-20 {
	padding: 20px;
}
.padding-left-10 {
	padding-left: 10px;
}
.padding-right-10 {
	padding-right: 10px;
}
/* -----------------------------------------
   Common Heading Styles
----------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: normal;
	color: white;
}
h1 {
	font-size: 80px;
	font-family: "Cervo-LightItalic";
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 10px;
}


/*----- header  CSS START HERE-----*/
header{
    padding: 1.25rem;
	background: url(../images/header.png);
	background-repeat: repeat;
	position: absolute;
	width: 100%;
}
header nav ul li a{
font-size: 28px;
font-family: "Cervo-ThinItalic";
color: white;
text-transform: capitalize;
margin: 0px 20px 0px 20px;

}
header nav ul li:last-child a{
	margin: 0px 0px 0px 20px;
}

/*----- BANNER  CSS START HERE-----*/
.banner{
	background-image: url(../images/banner.png);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;

}
.banner h1{
	font-family: "Cervo-LightItalic";
	font-size: 90px;
	line-height: normal;
}
.banner p{
	font-family: "Montserrat-Regular";
	font-size: 26px;
}

figcaption{
	margin: 0 auto;
	text-align: center;
	padding: 10% 0px 10% 0px;

}
.banner span{
	clear: both;
	display: block;
}

/*----- MAIN AND TABS  CSS START HERE-----*/

main .tabs-content>.content{
padding-top: 0px;
padding-bottom: 0px;
}
main  .tabs dd.active>a, main .tabs .tab-title.active>a {
    background-color: none;
	background-image: url(../images/active-tabs.png);
	border-radius: 3px;
	color:#000; 
	padding: 0.5rem 3rem;
}
main .tabs dd>a, main .tabs .tab-title>a{
	font-family: "Cervo-LightItalic";
	font-size: 42px;
	background-image: url(../images/tabs.png);
	border-radius: 3px;
	color:#fff; 
	padding: 0.5rem 3rem;
}
main  .tabs dd, main  .tabs .tab-title {
    margin: 0px 10px;
}

main  .tabs {
	width: 83%;
	margin: 0 auto;

}
.tabs-nav-wrapper{
	background-image: url(../images/tabs_texture.png);
	padding: 2rem 0px 0rem 0px;

}
.sub-title {
	clear: both;
	display: block;
}
.sub-title{
	font-family: "Montserrat-Regular";
	font-size: 26px;
	position: relative;
	padding: 0px 0px 0px 25px;
	color: #fff;
}
.sub-title::after{
	content: url(../images/sub.png);
    font-size: 6px;
    position: absolute;
    top: 3px;
    left: 0px;
}

/*----- ORBIT SLIDER  CSS START HERE-----*/

.thumbnail-gallery .slick-prev,
.thumbnail-gallery .slick-next {
    position: absolute;
	top: 0px;
	margin-top: -50px;
	margin-bottom: 0px;
	margin-left: 0px;
	right: 0px;
	background-image: url(../images/arrows.png);
	background-repeat: no-repeat;
    width: 30px;
    height: 25px;
    padding: 0px;
	font-size: 0px;
	background-color: transparent;
}

.thumbnail-gallery .slick-prev {
	margin-right: 20px;
    background-position: left center;   
}

.thumbnail-gallery .slick-next {
    margin-left: 0px;
    background-position: right center;

}

.slick-dots li  {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

ul.slick-dots{
    margin: 15px auto 20px auto
	float: none;
	text-align: center;

}

ul.slick-dots li button{
    border-radius: 15px;
    width: 15px;
    height: 15px;
    padding: 0px;
    font-size: 0;
    background-color: rgba(0, 0, 0, 0);
    margin: 0px;
    border: solid 1px #6BCE86;
}
ul.slick-dots li.slick-active{
	background-color: #6BCE86;
	border: solid 0px #6BCE86;
	border-radius: 15px;
}


.show-all p{
	text-align: right;
	color: #6BCE86;
	font-size: 23px;
	font-family: "Montserrat-Light";
	padding: 0px 10% 0px 0px;
	margin: 0px;
}
.wrapper-title{
	padding:25px 0px 25px 0px;
}
.thumbnail-gallery .slick-slide div div{
	position: relative;
	overflow: hidden; 
  }

  .thumbnail-gallery .slick-slide {
    margin: 0 20px;
  }

figcaption.overlay{
    position: absolute;
    left: 0px;
    bottom: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.29);
    z-index: 50;
    width: 100%;
    height: 100%;
    padding: 30% 10px 0px 10px;

}


span.date,
span.title,
span.venue{
    clear: both;
    font-family: "Cervo-ThinItalic";
    color: white;
    text-align: left;
	display: block;
	text-transform: capitalize;
	line-height: normal;
	margin:0px;
	padding: 0px;
}

span.date,span.venue{
	font-size: 25px;
	line-height: 20px;
}
span.title{
	font-size: 42px;
    color: #6BCE86;
    display: block;
	line-height: normal;
	width: 235px;
	line-height: 45px;
}


.round {
    background: none;
    border: solid #fff 1px;
    font-family: "Montserrat-Regular";
    padding: 0.5rem 1rem 0.6rem 1rem;
    width: 130px;
    margin: 10px 0px 10px 0px;
    font-size: 12px;
}

figcaption.overlay.overlay.overwrite{
	position: initial;
	background-color: #000000;
	padding: 20px 0px 0px 0px;
	}

figcaption.overlay.overlay.overwrite span.title{
line-height:normal; 
	}	



/*----- News  CSS START HERE-----*/
.news{
	background-image: url(../images/news_texture.png);
	padding: 2.25rem 0px 0rem 0px;
	background-repeat: repeat-x;
}	

.news img{
	width: 100%;
}
	
.news ul li{
margin-bottom: 0px;
margin-top: 0px;

padding-top: 0px;
}
/*----- VIDEO  CSS START HERE-----*/

.videossilider .slick-prev,.videossilider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.videossilider  .slick-slide {
	margin: 0px 20px;
}

.videossilider .flowplayer{
	padding: 0px 80px;
}

.videossilider .slick-prev, .videossilider .slick-next {
    position: absolute;
	top:25%;
    background-image: url(../images/videos-arrow.png);
    background-repeat: no-repeat;
    width: 62.5px;
    height: 299px;
    padding: 0px;
    font-size: 0px;
	background-color: transparent;
	display: block;
	z-index: 99;
	margin: 0px;

}

.videossilider .slick-prev {
	background-position: left center;
	left: 0px;
}

.videossilider .slick-next {
	background-position: right center;
	right: 0px;
}


.videossilider  .slick-slide div .videos {
    position:relative;
    overflow: hidden;
}
.videossilider  .slick-slide div .video .flowplayer {
position: absolute;
z-index: 1;
}

.videossilider figcaption.overlay{
    padding: 0px;
    z-index: 2;
    width: initial;
    height: auto;
    left: 100px;
    bottom: 62px;
    background-color: rgba(0, 0, 0, 0);
}

.videossilider  span.date, .videossilider  span.venue {
	font-size: 40px;
}

.videossilider span.title{
    font-size: 80px;
    width: 100%;
    line-height: normal;
    text-transform: uppercase;
}
.flowplayer .fp-controls, .flowplayer .fp-header {
    opacity: 0 !important;
 }
 .flowplayer:hover .fp-controls, .flowplayer:hover .fp-header {
    opacity: 1 !important;
 }
 .flowplayer.fp-playful .fp-color-play {
    fill: #ffffff !important;
    background-color: #ffffff;
 }
 .flowplayer.fp-playful b {
    fill: #000000 !important;
 }

 .videossilider .flowplayer .fp-play svg, 
 .videossilider .flowplayer .fp-pause svg, 
 .videossilider .flowplayer .fp-waiting svg{
    left: initial;
    right: 15%;
	bottom: 12%;
	top: initial;
    width: 4em;
    height: 4em
 }


/*footer styling*/

footer {
    background: #010101;
}
.footer_top {
    background: #666666;
}
.footer_logo {
	background:#000;
}
.footer_logo  img{
	max-width: 100%;
	width: 65px;
	height: auto;
}
.footer_links {
    margin: 12px;
    padding: 0px;
    font-family: "Montserrat_regular";
}
.footer_links  li a{
	color: white;
}
.footer_links li {
    padding: 0px 0px 0px 10px;
}


/*----- PRELOADER  CSS START HERE-----*/

#loader-wrapper {
	background: -webkit-radial-gradient(bottom, #b11919 0%, #730f0f 50%, #310606 78%);
	background: radial-gradient(bottom, #b11919 0%, #730f0f 50%, #310606 78%);
	position: fixed;
	top: 0;
	left: 0;
	right: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#loader-wrapper .loader {
	position: fixed;
	left: 0;
	right: 0;
	top: 50%;
	height: 400px;
	-webkit-animation-name: fadeInUp;
	-webkit-animation-duration: 1s;
	animation-name: fadeInUp;
	animation-duration: 1s;
}
#loader-wrapper .loader img {
	position: fixed;
	right: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	max-width: 100px;
	margin: auto;
	float: none;
}
#loader-wrapper h2, #loader-wrapper h1 {
	font-family: 'Nothing You Could Do', cursive;
	color: white;
}
#loader-wrapper h1 {
	font-size: 2vw;
}
#loader-wrapper h2 {
	font-size: 3.1vw;
	margin-bottom: 0.3em;
}
.text-container {
	position: fixed;
	right: 0px;
	left: 0px;
	margin: 100px auto auto auto;
	float: none;
	width: 100%;
	text-align: center;
	height: auto;
}
.snake {
	position: fixed;
	right: 0px;
	left: 0px;
	margin: 220px auto auto auto;
	float: none;
	width: 100%;
	max-width: 100px;
	height: auto;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-delay: 1.5s;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-delay: 1.5s;
}
.snake span {
	position: absolute;
	width: 20px;
	height: 20px;
	background: #fff;
	opacity: .5;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-animation: snake 1s infinite ease-in-out;
	animation: snake 1s infinite ease-in-out;
}
.snake span:nth-child(2) {
	left: 20px;
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}
.snake span:nth-child(3) {
	left: 40px;
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
}
.snake span:nth-child(4) {
	left: 60px;
	-webkit-animation-delay: .6s;
	animation-delay: .6s;
}
.snake span:nth-child(5) {
	left: 80px;
	-webkit-animation-delay: .8s;
	animation-delay: .8s;
}
@-webkit-keyframes snake {
	0% {
		opacity: .3;
		-webkit-transform: translateY(0px);
	}
	50% {
		opacity: 1;
		-webkit-transform: translateY(-10px);
		background: red;
	}
	100% {
		opacity: .3;
		-webkit-transform: translateY(0px);
	}
}
@keyframes snake {
	0% {
		opacity: .8;
		transform: translateY(0px);
	}
	50% {
		opacity: 1;
		transform: translateY(-10px);
		background: red;
	}
	100% {
		opacity: .8;
		transform: translateY(0px);
	}
}
.loaded #loader-wrapper {
	visibility: hidden;
}
